@page "/"
@inject NavigationManager Nav
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<button type="button" @onclick='() => Nav.NavigateTo("counter")'>Nav</button>